[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
moto-interceptor = {git="git://github.com/tay-bird/moto-interceptor, ref="master"}
zappa = "*"

python_version = "3.7"
